{% extends 'base.html' %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">C_Zone</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'home' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link" href="#">Enabled</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Disabled</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0" action='{% url 'search' %}'>
        <input class="form-control mr-sm-2" name="search" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
      <form class="form-inline my-2 my-lg-0">
        <a href='{% url 'registration' %}'><i class="fa-solid fa-user pl-4 pr-3 "></i></a>
        <i class="openbtn fa-solid fa-ellipsis-vertical pl-3 pr-3"  onclick="openNav()"></i>
      </form>
    </div>
  </nav>


<!--sidebaaar-->
<!--sidebaaar-->
<!--sidebaaar-->
<!--sidebaaar-->
<!--sidebaaar-->
<!--sidebaaar-->


  <style>
    .sidepanel  {
      width: 0;
      position: fixed;
      z-index: 1;
      height: auto;
      top: 0;
      right: 0;
      background-color: #111;
      overflow-x: hidden;
      transition: 0.5s;
      padding-top: 60px;
      padding-bottom: 40px;
      border-radius:10px;
    }
    
    .sidepanel a {
      padding: 8px 8px 8px 32px;
      text-decoration: none;
      font-size: 25px;
      color: #818181;
      display: block;
      transition: 0.3s;
    }
    
    .sidepanel a:hover {
      color: #f1f1f1;
    }
    
    .sidepanel .closebtn {
      position: absolute;
      top: 0;
      right: 25px;
      font-size: 36px;
    }
    
    .openbtn {
      font-size: 20px;
      cursor: pointer;
      padding: 10px 15px;
      border: none;
    }
    
    </style>
    
    <div id="mySidepanel" class="sidepanel">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
      <a href="">Profile</a>
      <a href="#">Services</a>
      <a href="#">Clients</a>
      <a href="#">Contact</a>
      <a href="{% url 'hotellogin' %}">Hotel</a>
    </div>
    <script>
    function openNav() {
      document.getElementById("mySidepanel").style.width = "250px";
    }
    
    function closeNav() {
      document.getElementById("mySidepanel").style.width = "0";
    }
    </script>



  <script>
    $(document).ready(function() {
      $('.navbar-toggler').click(function() {
        $('.collapse').toggleClass('show');
      });
    });
  </script>
  


{% endblock content %}