{% extends 'base.html' %}

{% block content %}

{% include 'includes/navbar.html' %} 


  <form method="POST" enctype="multipart/form-data" action="{% url 'hotelregistration' %}"  >
    {% csrf_token %}
    {% load widget_tweaks %}

    <fieldset class="form-group">
      {{ form.hotel_name|attr:'placeholder:hotelname' }}
      {{ form.hotel_email|attr:'placeholder:hotelemail' }}
      {{ form.hotel_registration_number|attr:'placeholder:hotel reg no' }}
      {{ form.hotel_contact_number|attr:'placeholder:hotel contact' }}
      {{ form.hotel_address|attr:'placeholder:hoteladdress' }}
      {{ form.password|attr:'placeholder:hotel password' }}
      {{ form.hotel_location|attr:'placeholder:hotel location' }}
      {{ form.district|attr:'placeholder:hotel district' }}
      {{ form.state|attr:'placeholder:hotel state' }}
      {{ form.city|attr:'placeholder:hotel city' }}
      {{ form.pin_code|attr:'placeholder:hotel pin code' }}
      {{ form.hotel_profile|attr:'placeholder:hotel profile' }}
    </fieldset>

    <div class="form-group col-md-6">
      {% for message in messages %}
          {% if message.tags == "success" %}
              <div class="text-success alert alert-success font-weight-bold" role="alert" id="message-alert">{{message}}</div>
          {% endif %}
          {% if message.tags == "error" %}
              <div class="text-danger alert alert-danger font-weight-bold" role="alert" id="message-alert">{{message}}</div>
          {% endif %}
      {% endfor %}
  </div>

    <button type="submit" class="btn btn-success">Continue</button>
  </form>
<p>Manage your hotel <a href='{% url 'hotellogin' %}'> Click here to login</a></p>
  

  <script>
    setTimeout(function() {
        var messageAlerts = document.querySelectorAll('#message-alert');
        if (messageAlerts) {
            messageAlerts.forEach(function(alert) {
                alert.style.display = 'none';
            });
        }
    }, 8000);
</script>

{% endblock %}
