{% extends 'base.html' %}
{% block content %}
{% include 'includes/navbar.html' %}

<h1>Hotel Owner Details</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}

        <div class="form-group col-md-6">
            {% for message in messages %}
                {% if message.tags == "success" %}
                    <div class="text-success alert alert-success font-weight-bold" role="alert" id="message-alert">{{message}}</div>
                {% endif %}
                {% if message.tags == "error" %}
                    <div class="text-danger alert alert-danger font-weight-bold" role="alert" id="message-alert">{{message}}</div>
                {% endif %}
            {% endfor %}
        </div>

        <input type="submit" value="Save">
    </form>
    



    <script>
        setTimeout(function() {
            var messageAlerts = document.querySelectorAll('#message-alert');
            if (messageAlerts) {
                messageAlerts.forEach(function(alert) {
                    alert.style.display = 'none';
                });
            }
        }, 8000);
    </script>

{% endblock content %}