{% extends 'base.html' %}


{% block content %}

{% include 'navbar.html' %} 


    <form method="POST">
        {% csrf_token %}
        <div class="form-group col-md-6">
            <label for="id_username">Username</label>
            <input type="text" class="form-control" id="id_username" name="username" required>
        </div>
        <div class="form-group col-md-6">
            <label for="id_password">Password</label>
            <input type="password" class="form-control" id="id_password" name="password" required>
        </div>
       
        <div class="form-group col-md-6">
            {% for message in messages %}
                {% if message.tags == "success" %}
                    <div class="text-success alert alert-success font-weight-bold" role="alert" id="message-alert">{{message}}</div>
                {% endif %}
                {% if message.tags == "error" %}
                    <div class="text-danger alert alert-danger font-weight-bold" role="alert" id="message-alert">{{message}}</div>
                {% endif %}
            {% endfor %}
        </div>
        <button type="submit" class="btn btn-primary col-md-2">Sign in</button>
    </form>
    <p>Not a member? <a href="{% url 'registration' %}">Register</a></p>
    <p> forgot password/username? <a href="{% url 'forgotpassword' %}">Forgotpassword/username</a></p>
    <p>Logout? <a href="{% url 'logout' %}">Logout</a></p>



    
    <script>
        setTimeout(function() {
            var messageAlerts = document.querySelectorAll('#message-alert');
            if (messageAlerts) {
                messageAlerts.forEach(function(alert) {
                    alert.style.display = 'none';
                });
            }
        }, 8000);
    </script>
{% endblock %}
