{% extends 'base.html' %}

{% block content %}

    <form method="POST">
        {% csrf_token %}
        <select id='selection' name='dropdown'>
            <option value="" selected >Select username/password</option>
            <option value="username">Username</option>
            <option value="password">Password</option>
        </select>
        <div class="form-group col-md-6" action={% url 'login' %}>
            <label for="id_password">Enter</label>
            <input type="password" class="form-control" id="id_password" name="password" required>
        </div>
        <div class="form-group col-md-6">
            <label for="id_password">Confirm</label>
            <input type="password" class="form-control" id="id_password" name="confirmpassword" required>
        </div>
       
        <div class="form-group col-md-6">
            {% for message in messages %}
                {% if message.tags == "success" %}
                    <div class="text-success alert alert-success font-weight-bold" role="alert" id="message-alert">{{message}}</div>
                {% endif %}
                {% if message.tags == "error" %}
                    <div class="text-danger alert alert-danger font-weight-bold" role="alert" id="message-alert">{{message}}</div>
                {% endif %}
            {% endfor %}
        </div>
        <button type="submit" class="btn btn-primary col-md-2">Reset</button>
    </form>
    <p>Not a member? <a href="{% url 'registration' %}">Register</a></p>


    
    <script>
        var selection = document.getElementById("selection");
        var valueInputs = document.getElementsByClassName("form-control");

        selection.addEventListener("change", function() {
            var type = "";
            if (selection.value === "password") {
                type = "password";
            } else if (selection.value === "username") {
                type = "text";
            }
            for (var i = 0; i < valueInputs.length; i++) {
                valueInputs[i].type = type;
            }
        });
        setTimeout(function() {
            var messageAlerts = document.querySelectorAll('#message-alert');
            if (messageAlerts) {
                messageAlerts.forEach(function(alert) {
                    alert.style.display = 'none';
                });
            }
        }, 8000);
    </script>
{% endblock %}
