{% extends 'base.html' %}
{% block content %}


 
<h1>Hotel Booking {{hotel.hotel_name}}</h1>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <label for="check-in-date">Check-in Date:</label>
    <input type="date" id="check-in-date" name="check_in_date" required><br>
    
    <label for="check-out-date">Check-out Date:</label>
    <input type="date" id="check-out-date" name="check_out_date" required><br>

    <select name="room_type" id="room-type" required>
        <option value="">Select Room Type</option>
        {% for room in rooms %}
        <option value={{room}}>{{room}}</option>
        {% endfor %}
    </select>
    
    <label for="num-of-guests">Number of Guests:</label>
    <input type="number" id="num-of-guests" name="num_of_guests" required><br>
    
    <label for="special-requests">Special Requests:</label>
    <textarea id="special-requests" name="special_requests"></textarea><br>
    
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required><br>
    
    <label for="id-card">ID Card:</label>
    <input type="file" id="id-card" name="id_card" required><br>
    
    <input type="submit" value="Create Booking">
</form>



{% endblock content %}